{% extends "base.html" %}

{% block title %}
  All Profiles
{% endblock title %}


{% block content %}
  
  {% if is_empty %}
      <h1>No Profiles To Interact</h1>
  {% endif %}
    
  {% for item in qs %}
     <div class="ui segment">
        <div class="ui grid">
            <div class="row">
                <div class="three wide column">
                    <img src="{{item.avatar.url}}" alt="" class="ui small circular image pic">
                </div>
                <div class="five wide column">
                    <h3>{{item.user}}</h3>
                    <p>{{item.bio}}</p>
                    <a href= '{{item.get_absolute_url}}'><button class="ui primary button mb-5 w-big ">See Profile</button></a>

                    {% if item.user not in rel_receiver and item.user not in rel_sender %}
                        <form action="{% url 'user_profile:send-invite' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value="{{item.id}}">
                            
                            <button type="submit" class="ui green basic button mb-5 w-big"><i class="plus square icon"></i>Add To Friends</button>
                        </form>
                    {% endif %}
                    <br>
                    {% if item.user in rel_receiver and request.user not in item.friends.all %}
                    <button class="ui disabled button mb-5 w-big"><i class="user icon"></i>Waiting for Approval</button>
                    {% endif %}

                    {% if request.user in item.friends.all %}
                        <form action="{% url 'user_profile:remove-friend' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value="{{item.pk}}">
                            <button type="submit" class="ui negative basic button mb-5 w-big"><i class="minus square icon"></i>Remove From Friends</button>
                        </form>
                    {% endif %}

                </div>
            </div>
        </div>
     </div>
    
    {% endfor %}
{% endblock content %}