{% extends "base.html" %}

{% block title %}
  Update Post
{% endblock title %}

{% block content %}
  <div class="ui segment">
        <h3>Update Post</h3>
        
        {% if form.errors %}
          {% for error in form.errors %}
            <div class="ui negative message">
              <div class="header">
                {{error}}
              </div>
          </div>
          {% endfor %}
        {% endif %}
          
        <form action="" method="post" class="ui form" enctype="multipart/form-data">
            {% csrf_token %}

            {{form}}
            <button type="submit" class="ui button primary mt-5">Update</button>


        </form>
  </div>
{% endblock content %}