body{
    background: #f8f8f8 !important;
}

.nav{
    border-radius: 0px !important;
    padding: 0.5rem 0 0.5rem 0 !important;
    background-color: rgb(6, 58, 100) !important;
}

.mb-7{
    margin-bottom: 7px !important;
}

.mymodal{
    height:300px !important;
    top:200px !important;
    font-size: 20px !important; 
}
#id_bio{
    max-height: 10rem;
}
.mt-5{
margin-top:5px !important;
}
.ml-3{
margin-left:1.5rem !important;
}
.mb-5{
    margin-bottom: 5px !important;
}

.bwhite-lg{
background-color: transparent !important;
}
.bwhite-sm{
    background-color: transparent !important;
    width: 0.8rem !important;
}
.w-big{
    width:200px !important;
}

.comment-box{
    display:none;
}
.like-btn{
    color: purple !important;
}
/* .pic{
    max-width:54% !important;
} */
